#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_MMOCoin
#build/MMOCoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_MMOCoin)

DEB_INSTALL_EXAMPLES_MMOCoind += debian/examples/*
DEB_INSTALL_MANPAGES_MMOCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix MMOCoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f MMOCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake MMOCoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_MMOCoin
	src/test_MMOCoin

# Ensure wrapper is set executable
binary-post-install/MMOCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/MMOCoind
binary-post-install/MMOCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/MMOCoin-qt
